<a href="https://colab.research.google.com/github/ssanchezgoe/eafit_isa/blob/main/Nb_Google_Colab/S03_Bases_Estadisticas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

  <tr>
     <th><p><img alt="Colaboratory logo" height="80px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Sena_Colombia_logo.svg/1045px-Sena_Colombia_logo.svg.png" align="left" hspace="10px" vspace="0px"></p></th> 
    <th><p><img alt="Colaboratory logo" height="80px" src="https://www.isa.co/wp-content/uploads/2020/11/logo.png" align="right" hspace="10px" vspace="0px"></p></th>
    <th><p><img alt="Colaboratory logo" height="80px" src="https://upload.wikimedia.org/wikipedia/commons/b/bf/EAFIT-2015.png" align="left" hspace="10px" vspace="0px"></p></th> 
     <th><h1>  Bases de Estadística Básica Aplicada </h1></th>
  </tr>

# Temática
- <a href="#manipulacionDatos">1. Manipulación de datos</a><br>
 - <a href="#formateo">1.1 Formateo de datos temporales</a><br>
 - <a href="#procesamientoNulos">1.2 Procesamiento de datos nulos</a><br>
 - <a href="#indexacion">1.3. Indexación y localización</a><br>
 - <a href="#organizacionDF">1.4. Organización de dataframes</a><br>
 - <a href="#graficasPandas">1.5. Graficando desde pandas</a><br>
 - <a href="#operacionesColFil">1.6. Operaciones con columnas y filas</a><br>
  - <a href="#agrupacion"> 1.7. Agrupando dataframes</a><br>
  - <a href="#renormalizacion">1.8. Renormalización de datos</a><br>
  - <a href="#bineado"> 1.9. Bineado de datos</a><br>
  - <a href="#concom"> 1.10. Concatenación y combinación de dataframes</a><br>
- <a href="#tallpan">2. Taller Pandas</a><br>

<p><a name="manipulacionDatos"></a></p>

# 1. Manipulación de datos

In [ ]:
import pandas as pd
import numpy as np

df=pd.read_csv("https://raw.githubusercontent.com/diplomado-bigdata-machinelearning-udea/Curso1/master/s03/dataVentas2009.csv")

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
df.shape

In [ ]:
df.describe()

In [ ]:
df["Producto4"].unique()

<p><a name="formateo"></a></p>

## 1.1. Formateo de datos temporales

La función `to_datetime` permite convertir los datos a un formato especial de tiempo

In [ ]:
pd.to_datetime(df.Fecha).head()

In [ ]:
pd.to_datetime(df.Fecha, format='%d/%m/%Y').head()

In [ ]:
df.Fecha=pd.to_datetime(df.Fecha)
df.set_index('Fecha', inplace=True)
df.head()

<p><a name="procesamientoNulos"></a></p>

## 1.2. Procesamiento de datos nulos

In [ ]:
df.isna().head()

 Es lo mismo que df.isnull, ver: https://datascience.stackexchange.com/questions/37878/difference-between-isna-and-isnull-in-pandas

Usar el comando `fillna()` para reemplazar los valores nulos con el valor deseado. Puede hacerse en una sola columna `df.columna.fillna()` o en todas al mismo tiempo `df.fillna()`

In [ ]:
# Solo visual
df.Producto4.fillna(0)

In [ ]:
# Cambiando los datos
df.Producto4.fillna(df.Producto4.mean(),inplace=True) #Importante inplace

<p><a name="indexacion"></a></p>

## 1.3. Indexación y localización
Usando los comandos `iloc` y `loc`  en un dataframe, se puede acceder a los datos con base en las etiquetas y la ubicación respectivamente

In [ ]:
df.iloc[100:110]

Indexación para un subconjunto de columnas

In [ ]:
df[['Producto1','Producto4']].iloc[100:110]

In [ ]:
df.iloc[:,1:3]

In [ ]:
df.loc["2009-10-01":"2009-10-10"]

Parar reasignar un valor de dataframe, simplemente se debe saber la localización, ya sea por indice o por etiqueta y usar el operador de asignación `=`

In [ ]:
df.iloc[109,0]=1000

In [ ]:
df.loc['2009-04-19','Producto1']=999

Validemos la re-asignación de los valores

In [ ]:
df[['Producto1']].iloc[108:110]

<p><a name="organizacionDF"></a></p>

## 1.4. Organización de dataframes
El método `sort_values` permite organizar los dataframes con base a los valores de las columnas o las filas

In [ ]:
df.sort_values(by="Producto1").head()

<p><a name="graficasPandas"></a></p>

## 1.5. Graficando desde pandas
Pandas permite realizar algunas gráficas directamente con el comando `DataFrame.plot()`.

In [ ]:
df.Producto1.plot(figsize=(15,3))

In [ ]:
df.plot(figsize=(15,3))

Además de gráficos de línea, pandas tiene otro tipo de gráficos los cuales se puede usar con el argumento `kind` dentro del método DataFrame.plot(). Los otro gráficos disponibles son:

* `'bar'` or `'barh'` for bar plots
* `'hist'` for histogram
* `'box'` for boxplot
* `'kde'` or `'density'` for density plots
* ‘`'area'` for area plots
* `'scatter'` for scatter plots
* `'hexbin'` for hexagonal bin plots
* `'pie'` for pie plots

In [ ]:
df.Producto1.plot(kind='hist')

In [ ]:
df.hist(column='Producto1')

<p><a name="operacionesColFil"></a></p>

## 1.6. Operaciones con columnas y filas
La función `apply` regresa algún valor después de aplicarle una función a cada columna/fila del dataframe.

In [ ]:
df['Producto3sqrt']=df.Producto3.apply(np.sqrt)

In [ ]:
df.tail()

In [ ]:
df.apply(np.sum, axis=0)

In [ ]:
df.apply(np.sum, axis=0).plot(kind='pie')

<p><a name="agrupacion"></a></p>

## 1.7. Agrupando dataframes
El comando `groupby` permite agrupar y generar calculos y operaciónes sobre los valores agrupados.

In [ ]:
df["month"] = [i.month for i in df.index]
df.head()

In [ ]:
df.groupby("month").max()

In [ ]:
df.groupby("month")["Producto1"].count()

In [ ]:
df2 = pd.DataFrame({"Person": ["John", "Myla", "Lewis", "John", "Myla", "Lewis", "John", "Myla"], "Age": [24, 55, 21, 24, 26, 43, 64, 55]})
df2.head(8)

In [ ]:
# Agrupar por persona y aplicar "min" a "Age"
df2.groupby("Person").Age.agg("min")             
#df2.groupby("Person").Age.agg(["min"])

In [ ]:
# Agrupar por persona y edad y aplicar "count" a "Age"
df2.groupby(["Person","Age"]).agg({"Age":"count"})

In [ ]:
# frecuencia de las edades
df2['Age'].value_counts()
#df2["Age"].value_counts(Normlize=True)

<p><a name="renormalizacion"></a></p>

## 1.8. Normalización de datos
En algunos algoritmos de Machine Learning (ML) es importante tener los datos normalizados. Para ellos la función `scale` se encarga de normalizar los datos quedando con una media cercana a 0 y una desviación estandar de 1

In [ ]:
from sklearn import preprocessing

In [ ]:
scaled=preprocessing.scale(df[['Producto4', 'Producto3sqrt']])

In [ ]:
scaled

In [ ]:
scaled.mean(axis=0)

In [ ]:
scaled.std(axis=0)

<p><a name="bineado"></a></p>

## 1.9. Bineado de datos
La función `cut` nos permite separar los datos en bloques (bins)

In [ ]:
df.Producto1[:10]

Se puede seleccionar el número de bins deseado y el programa obtiene la distribución óptima de los mismos

In [ ]:
pd.cut(df.Producto1[:10], bins=3)

Se puede seleccionar los intervalos de los bins deseados

In [ ]:
pd.cut(df.Producto1[:10],bins=[0,100,200,300])

Se pueden poner etiquetas sobre los bins

In [ ]:
pd.cut(df.Producto1[:10],bins=3, labels=['bajo','medio','alto'])

<p><a name="concom"></a></p>

## 1.10. Concatenación y combinación de dataframes

La concatenación se realiza mediante la función `concat()` y la combinación mediante la función `merge()`

In [ ]:
raw_data_1 = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}

raw_data_2 = {
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}

raw_data_3 = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}

data1 = pd.DataFrame(raw_data_1, columns = ['subject_id', 'first_name', 'last_name'])
data2 = pd.DataFrame(raw_data_2, columns = ['subject_id', 'first_name', 'last_name'])
data3 = pd.DataFrame(raw_data_3, columns = ['subject_id','test_id'])

In [ ]:
# Concatenar por filas
all_data = pd.concat([data1, data2])
all_data

In [ ]:
# Concatenar por columnas
all_data_col = pd.concat([data1, data2], axis = 1)
all_data_col

In [ ]:
# Combinar all_data y data3 a lo largo del valor de subject_id
pd.merge(all_data, data3, on='subject_id')

In [ ]:
# Combinar solo los datos que tienen el mismo 'subject_id' en data1 y data2 (interseccion)
pd.merge(data1, data2, on='subject_id', how='inner')

In [ ]:
# Combinar solo los datos que tienen el mismo 'subject_id' en data1 y data2 (union)
pd.merge(data1, data2, on='subject_id', how='outer')

<p><a name="tallpan"></a></p>

## 3. Taller Pandas

### Ejercicio 1 

Cargue el dataset provisto en la dirección 'https://pynative.com/wp-content/uploads/2019/01/company_sales_data.csv'  grafique la ganancia total (total_profit) para todos los meses. La gráfica debe tener las siguientes propiedades:

* El estilo de línea punteado y de color rojo 
* Mostrar la legenda (legend) en la parte inferior derecha
* X label name = Month Number
* Y label name = Profits in dollars
* Título : Company sales data of last year
* Los markers deben ser circulares y de color negro
* El grosor de la línea debe ser 3

Solución esperada:
<p><img  height="260px" src="https://pynative.com/wp-content/uploads/2019/01/matplotlib_and_pandas_exercise_2_plot_style_properties-768x512.png" align="center" hspace="10px" vspace="0px"></p>

Para ver la solución haga double-click <b>aquí</b>.
<!--

import pandas as pd
import matplotlib.pyplot as plt  
df = pd.read_csv('https://pynative.com/wp-content/uploads/2019/01/company_sales_data.csv')
profitList = df ['total_profit'].tolist()
monthList  = df ['month_number'].tolist()
plt.plot(monthList, profitList, label = 'Profit data of last year', 
      color='r', marker='o', markerfacecolor='k', 
      linestyle='--', linewidth=3)
      
plt.xlabel('Month Number')
plt.ylabel('Profit in dollar')
plt.legend(loc='lower right')
plt.title('Company Sales data of last year')
plt.xticks(monthList)
plt.yticks([100000, 200000, 300000, 400000, 500000])
plt.show()
-->

### Ejercicio 2

Dataset: https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user

1. Importar el dataset, asignarlo a una variable llamada *users* y usar el *user_id* como índice.
2. ¿Cuál es el número de observaciones y columnas en el dataset? 
3. Mostrar el nombre de las columnas y el tipo de dato que contiene.
4. Mostrar la indexación del dataset.
5. ¿Cuántas ocupaciones diferentes hay en este conjunto de datos?
6. ¿Cuál es la ocupación más frecuente?
7. ¿Cuál es la edad media de los usuarios?
8. ¿Cuál es la edad con menos ocurrencia?

Para ver la solución haga double-click <b>aquí</b>.
<!--

1. 

import pandas as pd

users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', delimiter='|', index_col='user_id')
users.head()
  
2.
print("Número de observaciones:",users.shape[0])
print("Número de columnas: ",users.shape[1])

3.
print("Columnas: ",users.columns)
print("Tipo de datos: \n",users.dtypes)

4.
print("Indexación: ",users.index)

5.
print("Número de ocupaciones diferentes:",users.occupation.nunique())

6.
print("Ocupaciones más frecuentes:\n",users.occupation.value_counts().head())

7.
print("Edad media de los usuarios:",round(users.age.mean()))

8.
print("Edades de menos ocurrencia:\n",users.age.value_counts().tail(10))

-->

### Ejercicio 3

Diccionario dado:

raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
            'deaths': [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35],
            'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
            'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
            'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
            'readiness': [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3],
            'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
            'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
            'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']}
            
1. Crea un DataFrame llamado *army* a partir del diccionario dado 

(No olvide incluir los nombres de las columnas en el orden presentado en el diccionario ('regimen', 'company', ...) para que el orden del índice de la columna sea coherente con las soluciones. Si se omite, Pandas ordenará las columnas alfabéticamente.

2. Establezca la columna 'origin' como índice del dataset.
3. Imprima las columnas 'veterans' y 'deaths'
4. Seleccione las columnas 'deaths', 'size' y 'deserters' de Maine a Alaska.
5. Seleccione la tercera columna hasta la séptima columna.
6. Seleccione las filas donde *deaths* sea mayor que 50.
7. Seleccione las filas donde *deaths* sea mayor que 500 o menor que 50.
8. Selecciona todos los *regiments* no nombrados *Dragoons*.
9. Seleccione la tercera celda en la fila llamada *Arizona*
10. Seleccione la tercera celda en la columna llamada *deaths*

Para ver la solución haga double-click <b>aquí</b>.
<!--
1.
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 'deaths': [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35], 'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9], 'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523], 'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345], 'readiness': [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3], 'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1], 'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3], 'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']}

army = pd.DataFrame(raw_data, columns = ['regiment', 'company', 'deaths', 'battles', 'size', 'veterans', 'readiness', 'armored', 'deserters', 'origin'])

army.head()

2.
army = army.set_index("origin")
army.head()

3. 
army[['veterans', 'deaths']]

4.
army.loc[['Maine','Alaska'] , ["deaths","size","deserters"]]

5.
army.iloc[: , 4:7]

6.
army[army['deaths'] > 50]

7. 
army[(army['deaths'] > 500) | (army['deaths'] < 50)]

8.
army[(army['regiment'] != 'Dragoons')]

9.
army.loc[['Arizona'], ['deaths']]

#O

#army.iloc[[0]

10.
army.loc['Texas', 'deaths']

#O

#army.iloc[[2]


-->

### Ejercicio 4

Dataset: https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user

1.  Importar el dataset, asignarlo a una variable llamada *users* y usar el *user_id* como índice.
2. ¿Cuál es la edad media por ocupación?
3. Descubra la proporción de hombres por ocupación y clasifíquela de mayor a menor (cree una columna).
4. Para cada ocupación calcule las edades mínimas y máximas.
5. Para cada combinación de ocupación y género calcule la edad media.
6. Para cada ocupación muestre el porcentaje de mujeres y hombres.

Para ver la solución haga double-click <b>aquí</b>.
<!--

1. 

import pandas as pd

users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', delimiter='|', index_col='user_id')
users.head()
  
2.
users.groupby('occupation').age.mean()

3.
# funcion que mapea el genero a un numero
def gender_to_numeric(x):
    if x == 'M':
        return 1
    if x == 'F':
        return 0

# aplica la funcion a la columna genero y saca el porcentaje de hombres por ocupacion
users['gender_n'] = users['gender'].apply(gender_to_numeric)

# se 
a = users.groupby('occupation').gender_n.sum() / users.occupation.value_counts() * 100 

# ordenamiento de mayor a menor
a.sort_values(ascending = False)

4.
users.groupby('occupation').age.agg(['min', 'max'])

5.
users.groupby(['occupation', 'gender']).age.mean()

6.
# crea un dataframe y aplica "count" al genero
gender_ocup = users.groupby(['occupation', 'gender']).agg({'gender': 'count'})

# crea un dataframe y aplica "count" para cada ocupacion
occup_count = users.groupby(['occupation']).agg('count')

# divida gender_ocup por occup_count y multiplique por 100
occup_gender = gender_ocup.div(occup_count, level = "occupation") * 100

# mostrar todas las filas de la columna genero
occup_gender.loc[: , 'gender']

-->